@model Instructor
@{
    ViewData["Title"] = "Details";
}

<h1>Instructor Details</h1>

<div class="card" style="width:400px">
    <img class="card-img-top" src="@Model?.ImageUrl" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Address</p>
        <p class="card-text">@Model?.Department.Name</p>
        <p class="card-text">@Model?.Course.Name</p>
    </div>
</div>
<a asp-controller="Instructor" asp-action="Index">Back To List</a>
<a asp-controller="Instructor" asp-action="Edit" asp-route-Id="@Model.Id">Edit</a> 
@* <partial name="_InsCardPartial"/> *@


