@model CourseWithDeptListViewModel
@{
    ViewData["Title"] = "Add";
    SelectList options = new SelectList(Model.Departments, "Id", "Name");
}

<h1>Add</h1>

<form asp-action="NewSave" asp-controller="Course" method="post">
    <label asp-for="Name"></label>
    <input class="form form-control" asp-for="Name" />
    <label asp-for="Degree"></label>
    <input class="form form-control" asp-for="Degree" />
    <label asp-for="MinDegree"></label>
    <input class="form form-control" asp-for="MinDegree" />
    <label asp-for="Hours"></label>
    <input class="form form-control" asp-for="Hours" />
    <label asp-for="DeptId"></label>
    <select class="form form-control" asp-for="DeptId" asp-items="options">
        <option value="0">-- Select Department --</option>
    </select>
    <button class="btn btn-primary" type="submit">Save</button>
</form>


